.day{
		background: rgb(247, 247, 247);
		width: 14.2857%;
		height: 1.5rem;	
		font-size: 0.7em;
		box-shadow: 0 0px 1px #393939;
		font-weight: bold;
		display: flex;
		align-items:center;
    justify-content:center;
}